.container, .chatContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 50vh;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.chatContainer {
    border: 2px #999 solid;
    padding: 1rem 0.5rem 1rem;
    border-radius: 1rem;
    width: 500px;
    height: 70vh;
    justify-content: flex-end;
}

nav {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 2rem;
    justify-content: center;
}

.catsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    padding: 0 15rem;
}

.textContainer {
    padding: 0 25%;
}

.messages {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-end;
    width: 100%;
    box-sizing: border-box;
    gap: 1rem;
    padding: 1rem 0.5rem 1rem;
    max-width: 100%;
    flex: 1;
    overflow-y: scroll;
}

.message {
    padding: 0.5rem;
    border: 2px solid #777;
    border-radius: 0.5rem 0 0.5rem 0.5rem;
    min-width: 5rem;
}

.messageInput {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

input {
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: 1px #999 solid;
}

button {
    border: none;
    padding: 0.5rem;
    border-radius: 0.2rem;
    background: #888;
    color: white;
}